.page{
  text-align: center;
}

.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  text-align: center;
}

.product{
  border: 1px solid blueviolet;
  padding: 20px 10px;
}